.about__container {
    margin-top: 70px;
}

.reference__container {
    margin-top: 70px;
}
.basicMoves__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}